#LeaderBoardItem {
    display: flex;
    width: 100%;
}

#RankLabel {
    width: 5em;
}

#RankDiffLabel,
#RankDiffLabelGreen,
#RankDiffLabelRed {
    width: 2em;
    display: flex;
    justify-content: flex-end;
    margin-left: 1em;
}

#RankDiffLabelGreen {
    color: #36f1d2;
}

#RankDiffLabelRed {
    color: #cc0f4b;
}

#UsernameLabel {
    overflow: hidden;
    width: 10em;
    margin-left: 1em;
}

@media (min-width: 600px) {
    #LeaderBoardItem {
        display: flex;
    }

    #RankLabel {
        width: 7em;
    }

    #UsernameLabel {
        width: 25em;
    }

    #MMRLabel {
        width: 4em;
    }

    #RankDiffLabel,
    #RankDiffLabelGreen,
    #RankDiffLabelRed {
        width: 2em;
    }
}
