#winner {
    color: #36f1d2;
}

#loser {
    color: #cc0f4b;
}

#list {
    align-items: center;
}

#FilterButton {
    margin-bottom: 1em;
}

#header {
    display: flex;
    justify-content: flex-end;
}
