#historyItem {
    width: 100%;
    display: flex;
    margin-top: 0.5em;
}

#matchDetails {
    margin-top: 0.5em;
}

#DetailsHeader,
#factions {
    display: flex;
}

#faction1,
#gameMode,
#timestamp {
    width: 25em;
}

#matchId {
    width: 5em;
}

#winner,
#neutral,
#loser,
#detailsWinner,
#faction2 {
    width: 20em;
}

@media (min-width: 600px) {
    #matchDetails {
        margin-top: 0.5em;
    }

    #faction1,
    #gameMode,
    #timestamp {
        margin-left: 5em;
        width: 20em;
    }

    #matchId {
        width: 5em;
    }
}
