.statsTable {
    display: flex;
    flex-direction: column;
}

.stat {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.statsRow {
    margin-top: 1em;
}

.factionsHeader {
    margin-top: 2em;
    font-weight: bold;
    font-size: large;
}

.wrChart {
    margin-top: 2em;
}

@media (min-width: 600px) {
    .statsRow {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }

    .stat {
        grid-template-columns: 1fr;
    }
}
