---
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import HistorySearch from "@components/HistorySearch/HistorySearch";
---

<Layout>
    <Header />
    <main id="main-content">
        <section id="hero">
            <h1>Player match history:</h1>

            <h4>
                To see a players match history enter the IGN and search. For this feature to work the player with the IGN has to be on the friendslist of <b
                    >'Duelystranks'</b
                >.

                <br /><br />
                The feature might brake from time to time due to some api stuff as of now and is overall not yet finished, but feel free to use it.
                <br />If it doesn't work for an IGN that is on the friendslist tell me on Discord and I'll resolve the issue.

                <br /><br />
            </h4>
            <HistorySearch client:load />

            <h4>
                <br /><br />
                This feature also works by clicking on a player on the <b>'Ranked Top 50'</b> view <b>if</b> the player is on <b>'Duelystranks'</b> friendslist.
            </h4>
        </section>
    </main>

    <Footer />
</Layout>

<style>
    /* ===== Hero Section ===== */
    #hero {
        @apply pt-8 pb-6;
    }
    #hero h1 {
        @apply my-4 inline-block text-3xl font-bold sm:my-8 sm:text-5xl;
    }
    #hero .rss-link {
        @apply mb-6;
    }
    #hero .rss-icon {
        @apply mb-2 h-6 w-6 scale-110 fill-skin-accent sm:mb-3 sm:scale-125;
    }
    #hero p {
        @apply my-2;
    }
    .social-wrapper {
        @apply mt-4 flex flex-col sm:flex-row sm:items-center;
    }
    .social-links {
        @apply mr-2 mb-1 whitespace-nowrap sm:mb-0;
    }

    /* ===== Featured & Recent Posts Sections ===== */
    #featured,
    #recent-posts {
        @apply pt-12 pb-6;
    }
    #featured h2,
    #recent-posts h2 {
        @apply text-2xl font-semibold tracking-wide;
    }
    .all-posts-btn-wrapper {
        @apply my-8 text-center;
    }
</style>
