---
import Footer from "@components/Footer.astro";
import Header from "@components/Header.astro";
import JosekiTop50 from "@components/LeaderboardItem/JosekiTop50";
import Layout from "@layouts/Layout.astro";

interface PlayerData {
    username: string;
    rating: number;
    place: number;
}

const token =
    "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJkIjp7ImlkIjoiLU5UNFhVSlF4dnlpcTRsMEx1djMiLCJlbWFpbCI6ImR1ZWx5c3RyYW5rc0BnbWFpbC5jb20iLCJ1c2VybmFtZSI6ImR1ZWx5c3RyYW5rcyJ9LCJ2IjowLCJpYXQiOjE2ODYxNzY1MDYsImV4cCI6MTY4NzM4NjEwNn0.vyQ86iUCvC4PotiLM-eMoKGV4YiQY4QxoM1mp0eI0Sc";

const fetchItems = async () => {
    try {
        const response = await fetch("https://api.duelyst2.com/api/me/rank/srank_top?blatmmr=true", {
            method: "GET",
            headers: {
                "Content-Type": "application/json",
                Authorization: `Bearer ${token}`,
            },
        });
        const data = await response.json();
        return data;
    } catch (error) {
        console.error("Error fetching items:", error);
    }
};

const data: PlayerData[] = await fetchItems();
---

<Layout>
    <Header activeNav="josekiTop20" />
    <main id="main-content">
        <section id="hero">
            <h1>Ranked Top 20 JosekiMMR</h1>
            <br />
            <JosekiTop50 client:load players={data} />
        </section>
    </main>
    <Footer />
</Layout>

<style>
    /* ===== Hero Section ===== */
    #hero {
        @apply pt-8 pb-6;
    }
    #hero h1 {
        @apply my-4 inline-block text-3xl font-bold sm:my-8 sm:text-5xl;
    }
    #hero .rss-link {
        @apply mb-6;
    }
    #hero .rss-icon {
        @apply mb-2 h-6 w-6 scale-110 fill-skin-accent sm:mb-3 sm:scale-125;
    }
    #hero p {
        @apply my-2;
    }
    .social-wrapper {
        @apply mt-4 flex flex-col sm:flex-row sm:items-center;
    }
    .social-links {
        @apply mr-2 mb-1 whitespace-nowrap sm:mb-0;
    }

    /* ===== Featured & Recent Posts Sections ===== */
    #featured,
    #recent-posts {
        @apply pt-12 pb-6;
    }
    #featured h2,
    #recent-posts h2 {
        @apply text-2xl font-semibold tracking-wide;
    }
    .all-posts-btn-wrapper {
        @apply my-8 text-center;
    }
</style>
